<div class="row">
  <div class="col">
    <mat-form-field class="full-width">
      <mat-label>Pesquisar pelo título</mat-label>
      <input type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="col" align="end">
    <button mat-raised-button color="primary">Adicionar novo</button>
  </div>
</div>


<div class="content">
  <h3 class="titulo">Artigos</h3>

  <mat-divider></mat-divider>

  <div class="card">
    <div class="card-body">
      <mat-icon>download</mat-icon>
      <mat-icon>delete</mat-icon>
      <mat-icon>edit</mat-icon>
      Como funciona a escala PPS
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <mat-icon>download</mat-icon>
      <mat-icon>delete</mat-icon>
      <mat-icon>edit</mat-icon>
      O que são cuidados paliativos?
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <mat-icon>download</mat-icon>
      <mat-icon>delete</mat-icon>
      <mat-icon>edit</mat-icon>
      Cuidados essenciais para o paciente em homecare
    </div>
  </div>
</div>
