<div class="content">

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
    <div class="container-fluid">

      <span>
        <button mat-mini-fab (click)="clickMe()">
          <mat-icon aria-label="Menu">menu</mat-icon>
        </button>

        <span class="navbar-brand" style="font-weight: 900 !important;"> Hermes | Paciente </span>

      </span>


      <button mat-button (click)="logout()">
        <span>Logout</span>
      </button>

    </div>
  </nav>
</div>
