<mat-card id="card-main-informacoes">
  <div class="row">
    <div class="col">
      <p> <strong> Sintomas: </strong>{{ocorrencia.sintomas}}</p>
      <p> <strong>Medicamentos usados: </strong> {{ocorrencia.medicacao_desc}}</p>

      <p> <strong>Data ocorrência: </strong> {{ocorrencia.data_ocorrencia | date: 'dd/MM/yyyy'}} | <strong> Hora
          ocorrência:</strong>
        {{ocorrencia.hora_ocorrencia }}</p>

    </div>
    <div class="col-md-auto">
      <mat-card
        [ngClass]="{'card-status-ocorrencia_ativo': ocorrencia.ativa == true, 'card-status-ocorrencia_inativo': ocorrencia.ativa == false}">
        {{ocorrencia.ativa? 'Ativa' : 'Encerrada'}}
      </mat-card>
    </div>
  </div>

  <div class="col-md-auto">
    <p> Registrado em: {{ocorrencia.updated_at | date:'dd/MM/yyyy hh:mm a' }}</p>
  </div>

</mat-card>

<div class="anexos" *ngIf="ocorrencia.im1_originalname">
  <h3>Anexos</h3>

  <div class="row row-cols-1 row-cols-md-2 g-2">
    <div class="alert alert-light" role="alert" *ngIf="ocorrencia.im1_originalname == null">
      Não foram enviados arquivos
    </div>

    <div class="col" >
      <mat-card class="mat-elevation-z1">
        <mat-card-header>


          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>
            <h3>{{ ocorrencia.im1_originalname }}</h3>
          </mat-card-title>



          <button mat-mini-fab color="warn" class="mat-elevation-z0"
            aria-label="Remover arquivo da lista de anexos" >
            <mat-icon>download</mat-icon>
          </button>


        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col" *ngIf="ocorrencia.im2_originalname">
      <mat-card class="mat-elevation-z1">
        <mat-card-header>


          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>
            <h3>{{ ocorrencia.im2_originalname }}</h3>
          </mat-card-title>


          <button mat-mini-fab color="warn" class="mat-elevation-z0"
            aria-label="Remover arquivo da lista de anexos" >
            <mat-icon>download</mat-icon>
          </button>


        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </div>

  </div>
