<app-informacao-ocorrencia></app-informacao-ocorrencia>

<section id="card-main-encerramento" *ngIf="ocorrencia?.ativa">
  <div class="alert alert-light" role="alert">
    Aguarde enquanto um dos nossos profissionais está analisando a sua solicitação.
  </div>
</section>


<section id="card-main-encerramento" *ngIf="!ocorrencia?.ativa">
  <div class="alert alert-warning" role="alert">

    <p> <strong>  Informações sobre o desfecho  da ocorrência: </strong>  {{ocorrencia.desfecho}}</p>
    <p><strong> Ocorrência foi encerrada às {{ocorrencia.data_desfecho}}.</strong>   </p>
    <mat-divider></mat-divider>

    <h3>"Por gentileza, complete nossa pesquisa de satisfação sobre o atendimento prestado
      por nossa equipe. Sua opinião é de extrema importância para a contínua melhoria de nossos serviços.</h3>
    <div class="d-flex justify-content-center">
      <button mat-raised-button color="accent"> Formulário</button>
    </div>
  </div>
</section>
