<div class="row">
  <div class="col">
    <mat-form-field class="full-width">
      <mat-label>Pesquisar pelo nome da dieta ou medicamento ou item</mat-label>
      <input type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="col">
    <button mat-raised-button color="primary">pesquisar</button>
  </div>
</div>



<div class="content">
  <mat-tab-group>
    <mat-tab label="Prescrição de medicamentos">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> Medicamento 1 </p>
            </div>
            <div class="col" align="end">
              <a mat-button>Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> Medicamento 2</p>
            </div>
            <div class="col" align="end">
              <a mat-button>Saiba mais</a>
            </div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> Medicamento 3 </p>
            </div>
            <div class="col" align="end">
              <a mat-button>Saiba mais</a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Prescrição de Dieta">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> Alimento 1 </p>
            </div>
            <div class="col" align="end">
              <a mat-button>Saiba mais</a>
            </div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> Alimento 2 </p>
            </div>
            <div class="col" align="end">
              <a mat-button>Saiba mais</a>
            </div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> Alimento 3 </p>
            </div>
            <div class="col" align="end">
              <a mat-button>Saiba mais</a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Prescrição da enfermagem">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> Item 1 </p>
            </div>
            <div class="col" align="end">
              <a mat-button>Saiba mais</a>
            </div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> Item 2 </p>
            </div>
            <div class="col" align="end">
              <a mat-button>Saiba mais</a>
            </div>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> Item 3</p>
            </div>
            <div class="col" align="end">
              <a mat-button>Saiba mais</a>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
  </mat-tab-group>



</div>
