<div *ngIf="isExpanded">

  <mat-accordion class="mat-elevation-z1">
    <mat-expansion-panel (opened)="panelOpenState = true" [expanded]="true" (closed)="false" class="mat-elevation-z0">
      <mat-expansion-panel-header (click)="inicial()">
        <mat-panel-title>
          <mat-icon mat-list-icon class="menu-icons">
            home
          </mat-icon><span class="titulo-menu-principal">Página Inicial</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div (click)="diarioBemEstar()">
        <button mat-button>
          <mat-icon mat-list-icon class="menu-icons" id="button-sidebar"> chevron_right
          </mat-icon>
          Diário bem estar
        </button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="mat-elevation-z1">
    <mat-expansion-panel (opened)="panelOpenState = true" [expanded]="true" (closed)="false" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon mat-list-icon class="menu-icons">
            label
          </mat-icon> <span class="titulo-menu-principal">Ocorrência</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div (click)="criarOcorrencia()">
        <button mat-button>
          <mat-icon mat-list-icon class="menu-icons" id="button-sidebar"> chevron_right
          </mat-icon>
          Nova ocorrência
        </button>
      </div>

      <div (click)="historicoOcorrencia()">
        <button mat-button>
          <!-- <button mat-button (click)="carregarTabelaComTipos(tipo, s.id_status)"> -->
          <mat-icon mat-list-icon class="menu-icons" id="button-sidebar"> chevron_right
          </mat-icon>
          Historico
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="mat-elevation-z1">
    <mat-expansion-panel (opened)="panelOpenState = true" [expanded]="true" (closed)="false" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon mat-list-icon class="menu-icons">
            label
          </mat-icon> <span class="titulo-menu-principal">Chat</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div (click)="criarNovoChat()">
        <button mat-button>
          <mat-icon mat-list-icon class="menu-icons" id="button-sidebar"> chevron_right
          </mat-icon>
          Novo chat
        </button>
      </div>

      <div (click)="historicoChat()">
        <button mat-button>
          <!-- <button mat-button (click)="carregarTabelaComTipos(tipo, s.id_status)"> -->
          <mat-icon mat-list-icon class="menu-icons" id="button-sidebar"> chevron_right
          </mat-icon>
          Historico
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="mat-elevation-z1">
    <mat-expansion-panel (opened)="panelOpenState = true" [expanded]="true" (closed)="false" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon mat-list-icon class="menu-icons">
            label
          </mat-icon> <span class="titulo-menu-principal">Educativo</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div (click)="inicialEducativo()">
        <button mat-button>
          <!-- <button mat-button (click)="carregarTabelaComTipos(tipo, s.id_status)"> -->
          <mat-icon mat-list-icon class="menu-icons" id="button-sidebar"> chevron_right
          </mat-icon>
          Início
        </button>
      </div>

      <div (click)="educativoVideos()">
        <button mat-button>
          <!-- <button mat-button (click)="carregarTabelaComTipos(tipo, s.id_status)"> -->
          <mat-icon mat-list-icon class="menu-icons" id="button-sidebar"> chevron_right
          </mat-icon>
          Vídeos
        </button>
      </div>

      <div (click)="educativoArtigos()">
        <button mat-button>
          <mat-icon mat-list-icon class="menu-icons" id="button-sidebar"> chevron_right
          </mat-icon>
         Artigos
        </button>
      </div>


    </mat-expansion-panel>
  </mat-accordion>

</div>
