.titulo {
  font-weight: 900;
}

.mat-header-cell {
  font-size: 14px;
  background-color: #e98044;
  color: #fff;
}

.mat-cell,
.mat-header-cell {
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
  word-wrap: break-word !important;
  white-space: unset !important;
}

.mat-table{
  width: 100%;
}

.mat-cell {
  font-weight: 600;
}
